/* `author` - DEV-Penguin-DEV[https://github.com/DEV-Penguin-DEV] */

button,
input,
textarea {
  border: none;
  background: none;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  font-family: Roboto;
  color: #030305;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.title-2 {
  font-size: clamp(40px, 3.125vw, 65px);
}

.block-margin {
  margin-bottom: clamp(60px, 5.2vw, 120px);
}

.black-button {
  width: 100%;
  background-color: #030305;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  scroll-behavior: smooth;
}

/* ======== HEADER ======== */
.main-header {
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 0;
}

.main-header__container {
  display: flex;
  align-items: center;
  gap: clamp(200px, 11.6vw, 250px);
}

.main-header__list {
  display: flex;
  gap: clamp(20px, 6vw, 120px);
}

/* ======== FIRST SCREEN ======== */

.first-screen {
  height: 705px;
  padding-top: 104px;
  box-sizing: border-box;
  background: url(img/background.png) no-repeat center center;
}

.first-screen__title {
  font-size: clamp(45px, 4.1vw, 85px);
  margin-bottom: 20px;
  max-width: 855px;
}

.first-screen__text {
  font-size: 16px;
  margin-bottom: 20px;
  max-width: 502px;
}

.first-screen__link {
  max-width: 334px;
}

/* ======== PRODUCTS ======== */

.products__title {
  margin-bottom: 40px;
}

.products__list {
  display: grid;
  gap: 40px 24px;
  grid-template-columns: repeat(3, calc((100% - 24px * (3 - 1)) / 3));
}

.product__title {
  font-size: clamp(20px, 1.25vw, 28px);
  text-align: center;
  margin-bottom: 15px;
}

.product__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.product__descriptions {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 15px;
}

.description__img {
  margin-bottom: 10px;
}

/* ======== COMMUNICATION ======== */
.communication__title {
  margin-bottom: 15px;
}

.communication__text {
  color: #5d5d5f;
  font-size: 16px;
  margin-bottom: 60px;
}

.communication__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 334px;
}

.communication__input {
  height: 65px;
  padding: 22px 18px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #5d5d5f;
}

.communication__input::placeholder {
  color: #5d5d5f;
  font-size: 16px;
}

.communication {
  position: relative;
  padding-bottom: 121px;
}

.communication__img {
  position: absolute;
  bottom: 0;
  right: -135px;
}

/* ======== MAIN FOOTER ======== */
.main-footer {
  border-top: 1px solid #e5e5e5;
  padding: 25px 0;
}

.main-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }

  .communication__img {
    position: absolute;
    bottom: 0;
    left: 400px;
  }

  .products__list {
    grid-template-columns: repeat(2, calc((100% - 24px * (2 - 1)) / 2));
  }

  .first-screen {
    height: 565px;
    padding-top: 74px;
    background-size: cover;
  }
}

@media (max-width: 950px) {
 .communication__img {
  width: 80vw;
  bottom: 5vw;
 }

 .first-screen {
  height: 465px;
  padding-top: 54px;
  background-position: 20%;
}

.first-screen__text {
  max-width: 60%;
}

.main-header__container {
  gap: 11.5vw;
}
}

@media (max-width: 800px) {
  .products__list {
    grid-template-columns: 100%;
  }

  .communication__img {
    display: none;
   }

   .communication__form {
    max-width: 80%;
    margin: 0 auto;
   }
}

@media (max-width: 600px) {
  .main-header__img {
    display: none;
  }

  .main-header__container {
    justify-content: center;
  }

.first-screen {
  background-position: 10%;
  height: auto;
}

.first-screen__text {
  max-width: 100%;
}

.communication__form {
  max-width: 100%;
 }
}